:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --gray-icon-color: #afb1b8;

  --accent-color: #2196f3;

  --primary-background-color: #ffffff;
  --gray-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-socials-background-color: rgba(255, 255, 255, 0.1);
  --section-do-subtitle-background-color: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --overlay-portfolio-background-color: rgba(33, 150, 243, 0.9);

  --primary-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;

  --transition-time: 250ms;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Общие стили */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-family: var(--primary-font-family);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.btn {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color var(--transition-time) var(--transition-cubic);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.logo {
  text-decoration: none;
  color: var(--accent-color);
  font-family: var(--logo-font-family);
  font-size: 26px;
  line-height: 1.2;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.text {
  color: var(--secondary-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  display: block;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-background-color);
}

.header .item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-logo-accent {
  color: var(--primary-text-color);
}

.nav-list {
  display: flex;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;

  color: var(--secondary-text-color);
}

.header-contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-time) var(--transition-cubic);
}

.header-contact-link:hover .contacts-icon,
.header-contact-link:focus .contacts-icon {
  fill: var(--accent-color);
}

/* INDEX.HTML */
/* Hero */

.hero {
  max-width: 1600px;
  min-height: 600px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-background-color);

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  color: var(--white-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section Qualities */

.qualities-list {
  display: flex;
  justify-content: space-between;
}

.qualities-list .item {
  width: 270px;
}

.qualities-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--gray-background-color);
}

.section-qualities .subtitle {
  margin-bottom: 10px;
  margin-top: 30px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-qualities .text {
  font-size: 14px;
  line-height: 1.71;
}

/* Section Do */

.section-do {
  padding-top: 0;
}

.do-list {
  display: flex;
  justify-content: space-between;
}

.section-do .title {
  margin-bottom: 50px;
}

.do-list .item {
  position: relative;
}

.do-list .subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  color: var(--white-text-color);
  background-color: var(--section-do-subtitle-background-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Section Team */

.section-team {
  background-color: var(--gray-background-color);
}

.section-team .title {
  margin-bottom: 50px;
}

.section-team .list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.section-team .item {
  background-color: var(--primary-background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section-team .text {
  margin-top: 10px;
  margin-bottom: 16px;

  line-height: 1.19;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-time) var(--transition-cubic);
}

.team-socials-icon {
  margin-top: 12px;
  margin-bottom: 12px;
  fill: var(--gray-icon-color);
  transition: fill var(--transition-time) var(--transition-cubic);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--accent-color);
}

.team-socials-link:hover .team-socials-icon,
.team-socials-link:focus .team-socials-icon {
  fill: var(--white-text-color);
}

/* Section Clients */

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--gray-icon-color);
  border-radius: 4px;
  transition: border-color var(--transition-time) var(--transition-cubic);
}

.client-icon {
  fill: var(--gray-icon-color);
  transition: fill var(--transition-time) var(--transition-cubic);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: var(--accent-color);
}

/* PORTFOLIO.HTML */
/* Section Portfolio */

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list-btn .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--gray-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  transition: color var(--transition-time) var(--transition-cubic),
    background-color var(--transition-time) var(--transition-cubic),
    box-shadow var(--transition-time) var(--transition-cubic);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-current {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.section-portfolio .subtitle {
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-portfolio .text {
  line-height: 1.88;
}

.card-border {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-time) var(--transition-cubic);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-portfolio-background-color);

  transform: translateY(101%);
  transition: transform var(--transition-time) var(--transition-cubic);
}

.portfolio-overlay .text {
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-text-color);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo-accent {
  color: var(--white-text-color);
}

.address {
  margin-bottom: 9px;

  color: var(--white-text-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.mail-footer {
  margin-bottom: 9px;
}

.footer-contacts {
  color: var(--footer-contacts-text-color);

  font-size: 14px;
  line-height: 1.71;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-socials {
  margin-left: 70px;
}

.cta-title {
  color: var(--white-text-color);

  font-size: 14px;
  text-transform: uppercase;
}

.cta-list {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.cta-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--footer-socials-background-color);

  width: 44px;
  height: 44px;

  transition: background-color var(--transition-time) var(--transition-cubic);
}

.cta-icon {
  fill: var(--white-text-color);
}

.cta-link:hover,
.cta-link:focus {
  background-color: var(--accent-color);
}

.sign-up-form {
  margin-left: auto;
}

.sing-up-box {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.sing-up-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--white-text-color);
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.sing-up-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sing-up-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-color);

  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-time) var(--transition-cubic),
    visibility var(--transition-time) var(--transition-cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close-icon {
  transition: fill var(--transition-time) var(--transition-cubic);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
}

.form-field {
  margin-bottom: 10px;
}

.call-back-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--secondary-text-color);
}

.call-back-input {
  width: 100%;
  padding: 14px 15px 14px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border var(--transition-time) var(--transition-cubic);
}

.call-back-input:focus {
  border: 1px solid var(--accent-color);
}

.form-field-inner {
  position: relative;
}

.call-back-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-time) var(--transition-cubic);
}

.call-back-input:focus + .call-back-icon {
  fill: var(--accent-color);
}

.call-back-textarea {
  display: block;
  padding: 12px 16px;
  height: 120px;
  font-size: 14px;
  letter-spacing: 0.01em;
  resize: none;
}

.call-back-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.agreement-field {
  margin-top: 20px;
}

.agreement-check {
  display: none;
}

.agreement-input:checked + .agreement-border {
  display: none;
}

.agreement-input:checked ~ .agreement-check {
  display: block;
}

.agreement-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.agreement-link {
  color: var(--accent-color);
}

.call-back-btn {
  display: block;
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
